faiss_cpu==1.12.0
fastapi==0.121.1
fitz==0.0.1.dev2
langchain_core==1.0.4
langchain_openai==1.0.2
lxml==6.0.2
nltk==3.9.2
numpy==2.3.4
openai==2.7.2
PyPDF2==3.0.1
python-dotenv==1.2.1
Requests==2.32.5
uvicorn==0.38.0
